/* src/app/layout.module.css */

.layout {
    min-height: 100vh;
}

.header {
    background: #001529;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
}

.sider {
    background: #fff;
}

.content {
    padding: 24px;
    background: #f0f2f5;
}

.footer {
    text-align: center;
}