/* KSider.module.css */

.siderContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: antiquewhite; */
    height: 72px;
    /* border-bottom: 1px solid #f0f0f0; */
}

.sider {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
    background-color: #ffffff;
    transition: all 0.3s ease;
    /* border-right: 1px solid #f0f0f0; */
}

.sider.loading {
    pointer-events: none;
    opacity: 0.7;
}

.siderContent {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logoWrapper {
    display: flex;
    align-items: center;
    /* padding-left: 40px; */
    gap: 63px;
}

.logo {
    display: flex;
    align-items: center;
}

.collapseIcon {
    font-size: 18px;
    cursor: pointer;
    padding: 8px;
    transition: all 0.3s;
}

.collapseIcon:hover {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}

.menu {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: none !important;
    /* padding: 16px 0; */
}

.menu :global(.ant-menu-item) {
    margin: 0 !important;
}

.menu :global(.ant-menu-item:not(.ant-menu-item-selected):hover) {
    color: #1890ff !important;
}

.menu :global(.ant-menu-submenu-title:hover) {
    color: #1890ff !important;
}

.activeMenuItem {
    background-color: #e6f7ff !important;
    color: #1890ff !important;
}

.activeMenuItem:hover {
    background-color: #e6f7ff !important;
    color: #1890ff !important;
}

.menu :global(.ant-menu-item-selected),
.menu :global(.ant-menu-submenu-selected > .ant-menu-submenu-title) {
    background-color: #e6f7ff !important;
    color: #1890ff !important;
}

.menu :global(.ant-menu-submenu-title) {
    margin: 4px 0;
}

.menu::-webkit-scrollbar {
    width: 6px;
}

.menu::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
    border-radius: 3px;
}

.menu::-webkit-scrollbar-track {
    background-color: transparent;
}

.profileButtonWrapper {
    padding: 16px;
    text-align: center;
}

.footer {
    margin-top: auto; /* Pushes footer to the bottom */
    padding: 16px;
    text-align: center;
}

.profileButton {
    color: rgb(0, 0, 0);
    width: 100%;
    padding-left: 24px;
    display: flex;
    justify-content: flex-start;
}